#contact {
  background: url('../img/bg.png') repeat #e4e4e4;
  padding-top: 100px;
  padding-bottom: 60px;
}
#send {
  padding-top: 30px;
}

#send input {
  margin: 10px 0px;
  padding: 20px 10px;
  border-radius: 8px;
  font-size: 16px;
}

#send textarea {
  margin: 10px 0px;
  padding: 10px 10px;
  border-radius: 8px;
  font-size: 16px;
  height: 150px;
}

#send button {
  margin-top: 20px;
  padding-left: 50px;
  padding-right: 50px;
}
