/* Cover */
#cover {
  background: url('../node-drawing-game/assets/img/bg.png') repeat #e4e4e4;
  width: 100%;
  height: 100%;
}
.cover-item {
}
.cover-box {
  padding: 40px;
  height: 100%;
  width: 100%;
}

.cover-form {
  margin: 20px 0px;
  padding: 20px 10px;
  border-radius: 8px;
  font-size: 16px;
}
.cover-button {
  width: 100%;
}


@media(max-width: 767px) {
  .cover-box {
    padding: 20px 40px;
  }
}



/* Feature */
.block-title {
  letter-spacing: 1px;
  font-size: 42px;
}
.showcase-item-1 {
  height: 380px;
}
.showcase-item-2 {
  height: 380px;
}
.showcase-item-box {
  padding: 40px;
  height: 100%;
  width: 100%;
  text-align: center;
}


