/* Cover */
#cover {
  background: url('../img/bg.png') repeat #e4e4e4;
  width: 100%;
  height: 100%;
}

.cover-box {
  padding: 170px 35px;
  height: 100%;
  width: 100%;
}

.cover-form {
  margin: 20px 0px;
  padding: 20px 10px;
  border-radius: 8px;
  font-size: 16px;
}
.cover-button {
  width: 100%;
}


@media(max-width: 980px) {
  #cover {
    padding-top: 100px;
    padding-bottom: 70px;
  }
  .cover-box {
    padding: 0px 40px;
  }
  .cover-box h1 {
    text-align: center;
  }
  
}

@media(max-width: 767px) {
  .cover {
  }
  .cover-box {
    margin-top: -20px;
    padding: 0px 40px;
  }
  .cover-box h1 {
    text-align: left;
    font-size: 48px;
  }
}



/* Feature */
.block-title {
  letter-spacing: 1px;
  font-size: 42px;
}
.showcase-item-1 {
  height: 390px;
}
.showcase-item-2 {
  height: 180px;
}
.showcase-item-box {
  padding: 10px 10px;
  height: 100%;
  width: 100%;
}
.showcase-item-box p {
  font-size: 18px;
}

#features {
  padding-top: 50px;
}


