.main
  margin-top 46px

.container
  width 100%

@media (max-width: 979px)
  .container
    padding 0 5%

@media (min-width: 980px)
  .container
    padding 0 10%
    



#cover
  background #e4e4e4 url('res/bg.png') repeat
  height 100vh

#intro-text
  padding-top 100px

#create-form
  padding-top 100px

#room
  background #e4e4e4 url('res/bg.png') repeat
  height 100%
  width 100%

.video-container
  height 240px
  width 360px

video
  height 100%
  width 100%
