.main
  margin-top 46px

.container
  width 100%

@media (max-width: 979px)
  .container
    padding 0 5%

@media (min-width: 980px)
  .container
    padding 0 10%
    

#cover
  background #e4e4e4 url('res/bg.png') repeat
  height 100vh

#intro-text
  padding-top 100px

#create-form
  padding-top 100px

#room
  background #e4e4e4 url('res/bg.png') repeat
  height 100%
  width 100%
  position relative

#drawpad
  position absolute
  top 0
  left 0
  width 82%
  height 100%

#sidebar
  position absolute
  top 0
  right 0
  width 18%
  height 100%
  z-index 1000
  margin 0

#sidebar .item
  cursor pointer

#local-video-block
  position absolute
  left 0
  bottom 0
  width 100%

#msg-list
  width 100%
  height 55vh
  background-color #FFF
  overflow-y: scroll

#msg-list .msg-block
  padding 0 1vh
  width 100%

#msg-list .msg-sender
  font-weight bold

#msg-list .msg-content
  position relative
  word-wrap break-word
  word-break normal

.video-container
  height 120px
  width 180px

video
  height 100%
  width 100%

.my-centered
  text-align center

.none 
  display none

input[type=range]
  width 100%
