extends main.jade

block main
  .container#cover
    .ui.grid
      .sixteen.wide.column#intro-text
        h1 We sketch. We chat.
        h2 You can quickly hold an online video chat and have a sketching board to help your discussion more efficient. It's 100% free, no installation and no registration required, just sign up a room and enjoy it.
      .sixteen.wide.column#create-form
      a.ui.button.blue.massive(href='create-room') Create a room

block vars
  - var js = 'index'
