doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Sketchat
    link(rel='stylesheet' href='app.css')
  body
    #room
      canvas#drawpad
      #remotes
      video#local-video
      #msg
        #msg-list
          .ui.divider
        .ui.fluid.input.action
          input#msg-input(placeholder='messages...')
          .ui.button#send-msg Send
    .ui.modal.small#enter-name
      .header Give your name
      .content
        .ui.form
          .field#your-name
            input(type='text' placeholder='Your name')
          .ui.error.message
            p This name has been used, please input another name.
      .actions
        .ui.button.red.deny Cancel
        .ui.button.green.approve Submit
    .ui.modal.small#msg-modal
      .header Message
      .content.my-centered
      .actions
        .ui.button.green.approve Ok
    .ui.page.dimmer#loading
      .ui.text.loader Loading

    script(src='app.js')
    script(src='room.js' type='text/paperscript' canvas='drawpad')
