doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Sketchat
    link(rel='stylesheet' href='app.css')
    link(rel='shortcut icon' href='res/favicon.ico')
  body
    #room
      .video-container
        video#local-video

    script(src='app.js')
    script(src='room.js')
